<div class = "container">

    <link rel="stylesheet" type="text/css" href="about.component.css">
    <meta charset="utf=8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
<div id="imageStyles">
    <div class="title">
        <div class="photo">
            <img class="image" src="../../../assets/Gods_Window_South_Africa.jpg">
        </div>


        <div class="info">
            <h1>About Us</h1>

            <div class="about">
                <p>
                    Black Geoscientist Forum (BGF) is an association of black geoscience professionals aimed at aiding, empowering,
                     and developing black geoscientists. It is a flagship organization with a mandate including but not limited to career development,
                      networking, awareness, and access to markets. </p>
                <p>
                    The Black Geoscientist Forum captures, develops, and applies cutting-edge thinking from within and beyond the South African geosciences
                     to create ideas with actual effect. We engage in innovative ideas that influence the present and future of the field of Geosciences.
                </p>  
                <p>
                    Our ethos is underpinned by multistakeholder engagement. We work in collaboration with various stakeholders including academia, corporate,
                     government, NGOs SMME’s and international organizations.
                </p>    
           </div>
    
        </div>

    </div>



    <div class="title">
        <div class="background">
            <div class="photo">
                <img class="image2" src="../../../assets/blurred_lights_background.jpg">
            </div>


        <div class="align">
        <h2>
            Our Commitment to Good Governance
        </h2>

        <h3>Fairness.</h3>
         <div class="about">
            <p>The organization undertakes to protect constituents’ rights and ensure equitable and fair practice. 
            Accountability</p>

            <li>The leadership shall provide organizational status to constituents including risk assessments, potential partners, and possible collaborations,</li>	
            <li>The leadership shall maintain sound risk management and internal control systems;</li>	
            <li>The leadership will establish formal and transparent arrangements for corporate reporting and risk management 
            <li>The leadership shall communicate with stakeholders at regular intervals, and provide a realistic assessment of the achievement of organizational milestones.</li>

            <h2>Responsibility</h2>

            <li>Our leadership accepts full responsibility for the powers that it is given and the authority that it exercises.</li> 
            <li>leadership is responsible for overseeing the management of the organization, day-to-day affairs of the organization, appointing relevant persons, and monitoring the performance of the organization.
            Transparency</li>
            <li>The Organisation shall provide timely, accurate disclosure of information about all material facts relating to its activities, as well as free access to such information for all stakeholders.</li>
            <li>The Organisations shall clarify and make publicly known the roles and responsibilities of the board and management to provide constituents with a level of transparency.</li>
        </div>
    </div>
    </div>
</div>
</div>

