<div class = "service">

    <link rel="stylesheet" type="text/css" href="team.component.css">
    <meta charset="utf=8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <img class = "modern" src="../../../assets/petroleum_geoscience.jpg">
    <img class="modern" src="../../../assets/Mineral_geo_.JPG">
<div class="topic">
    <h3>Board of Directors</h3>
</div>
<div class="service">
<p class="p">At Architeture we provide the best and quality service when it comes to Designing and Developing
    luxary, classy, and Minimalistic designs and interiors for our valued clients.We specialize in various
    spectrum when it comes to the built environment and geographic analysis of the spaces to build at.
</p>
</div>

<div class="wrapper">
<!-- <mat-card class = "container"> -->
    <div class="card">
        <div class = "topic2">
        <h3>Senior Researcher and Director</h3>
        </div>
       <img class = "imagestyle" src="../../../assets/Musa Siphiwe Manzi.webp">
        

       <div class="mobile1">
        <!-- <div class="box"> -->
                        <div class="name">
                                <p>Musa Siphiwe Manzi</p>
                        </div>


                    <p>     Senior Researcher and Director of the Wits Seismic Research Centre 
                            at the University of the Witwatersrand. His research focuses mainly 
                            on the area of reflection seismology as applied to the search for 
                            oil, gas, and mineral deposits, to develop new mathematical algorithms 
                            to reprocess old seismic datasets acquired for hydrocarbon and mineral exploration.
                            This would not only assist in the discovery of new deposits of valuable ore and minerals
                            but also expand the knowledge of how they are formed as well as mitigate the hazards involved in their recovery.
                    </p>
        <!-- </div> -->

            <div class="button"> 
                <button class = "click">Read More</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class = "topic2">
            <h3>Advisory Counsil</h3>
        </div>
        <img class = "imagestyle" src="../../../assets/Musawenkosi.jpg">

        <div class="mobile2">
        <div class="name">
            <p>Musawenkosi Buthelezi</p>
        </div>

 
        <p>
            Ph.D candidate at the University of the Witwatersrand.
            He is a geologist with over 3 years’ worth of experience, in environmental geochemistry.
            He is also an Executive Director: Research and Innovation at the Young African Entrepreneurs Institute. 
        </p>
    </div>

         <div class="button2">
            <button class="click">Read More</button>
        </div>
    </div>

    <div class="card">
        <div class="topic2">
            <h3>Director</h3>
        </div>
        <img class = "imagestyling" src="../../../assets/Siyanda_Mngadi.jpg">

        <div class="name">
            <p>Siyanda Mngadi</p>
        </div>

        <p>
            holds an in Geophysics, Mining Seismology, and Rock Mechanics 
            from the University of the Witwatersrand. He is a member of the Audit & Risk
            and Technical Committees at Council for Geoscience (CGS) an entity 
            of the Department of Mineral Resources and Energy (DMRE). 
        </p>
    
           <div class="button3">
            <button class="click">Read More</button>
        </div>
        </div>
</div>

<section id="section1">
<div class="architecturalDesign">
    <div class="topic">
            <h3>Architectural Designs</h3>
    </div>
    <img class = "image1" src="../../../assets/team_lower.jpg">
    <div class="center">
        <p>We offer the most spectecular Architectural Designs you could ever come across,
        We pride ourselves with the best creative, and out of the box innovations and quality services.
        We offer various Architectural Design styles:</p>
        
        <li>Neoclassical Architecture</li>
        <li>Victorian Architecture.</li>
        <li> Modern Architecture</li>
        <li>Post-Modern Architecture</li>

        <div class="remove"> 
        <p>
            Neoclassical architecture is defined by clean, elegant lines, uncluttered appearance, free-standing columns and massive buildings. Some of the more popular examples are the Bank of England Building in Liverpool, the White House in the United States, and the General Post Office in Dublin.
        </p>

        <p>
            The Victorian style was applied to residential house designs during the industrial revolution. Many homes in the UK, US, and Australia utilised this style. One characteristic that most Victorian homes share is the “dollhouse” look having elaborate trims, vivid colours, and asymmetrical designs.
        </p>

        <p>
            The modernist style prioritise simplicity of form, clean structure, lack of ornamentation, and function over form. This style also took advantage of the advances in steel, glass and concrete. Some of the best known architects of the 20th century flourished during this era including Frank Lloyd Wright and Le Corbusier.
        </p>

        <p>
            The Post-modernist style refused to be boxed to just one type so designs often drew inspiration from a mix of architectural styles. For some buildings, this combination often resulted to a somewhat hybrid and whimsical design.
        </p>
     </div>
    </div>
</div>

</section>
