<div class="footer">

    <link rel="stylesheet" type="text/css" href="footer.component.css">
<meta charset="utf=8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <div class="contact">
        <h3>Contact Us</h3>
        <div class="icon">
            <img src="../../../assets/instagram.png" height="30" width="30">
        </div>
        <div class="icon">
            <img src="../../../assets/facebook.jpg" height="30" width="30">
        </div>
        <div class="icon">
            <img src="../../../assets/linkedin.png" height="30" width="30">
        </div>
 
            <div class="detail">
                <p><b>Musa931224@gmail.com</b></p>
                <p><b>19 Thaba Bosigo Ave, Glenvista, Johannesburg South, 2091</b></p>
            </div>   
    </div>

    <div class="grid">
        <h3>company</h3>
        <p>Partner with Us</p>
        <p>Our Team</p>
        <p>Resources</p>
        <p>Customers</p>
        <p>Terms of Use</p>
        <p>Privacy and Policy</p>
    </div>    

    <div class="grid">
        <h3>Products and Services</h3>
        <p>Living Space</p>
        <p>Style</p>
        <p>House Tours</p>
        <p>Model and Blueprints</p>
        <p>Design & Organising</p>
    </div> 
</div>

<div class="bottombar">
    <p class = "info">BlackGeoScientistForum is © 1994-2021 BlackGeoScientistForum, LLC. | Terms and Conditions | Privacy Policy | Website Designed by rogers960823@gmail.com SA </p>
</div>
