
<div class="header">
  <div class="logoIcon">
    <a class="logo" href="#"><img src = '../../../assets/logo.svg'> BlackGeo<span>ScientistForum</span> </a>
  </div>

    <div class="topNav">
      <label for="toggle">&#9776;</label>
      <input type="checkbox" id="toggle">

      <nav class="navbar">

        <a routerLink = "">Home</a>
        <a routerLink = "about">About</a>
        <a routerLink = "team">Our Team</a>
          <!-- <div class="lastlink"> -->

        <div class="dropdown-menu">
          <a class="menu-btn" href="programmes">Programs </a>
          <div class="menu-content">
              <a class="links-hidden" href="programmes#section1">Education & Training </a>
              <a class="links-hidden" href="programmes#section1">Research & Innovation </a>
              <a class="links-hidden" href="programmes#section1">Professional Practice & Standards </a>
          </div>
        </div>

        <a  routerLink = "contact">Contact Us</a>
          <!-- </div> -->

      </nav>

          <!-- <form action="contact" class="inline">
            <button class="submitbutton" >Contact Us</button>
           </form> -->
    </div>

  <!-- <div class="icon">
      <i class="fas fa-bars"></i>
  </div> -->

</div>
