<div class="home">

    <link rel="stylesheet" type="text/css" href="home.component.css">
    <meta charset="utf=8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <div style="background-image: url('../../../assets/background.jpg');">
    <div id="slideshow">
        <div class="slide-wrapper">
             
            <!-- Define each of the slides
         and write the content -->

         <!-- <div class="slide">
            <img src="../../../assets/Mapungubwe-Goldrhino.jpg" class="slide-number">
        </div> -->

            <div class="slide">
                <img class="photo" src="../../../assets/Site picture.jpg" class="slide-number">
            </div>

            <div class="slide">
                <img class="photo" src="../../../assets/Artisanal-mining-3-800.jpg" class="slide-number">
            </div>

            <div class="slide">
                <img class="photo" src="../../../assets/Teaching Geophysics_sensors.jpg" class="slide-number">
            </div>

            <div class="center">
                <h1 class="slogan">
                    Advancing Black Geoscientist Professionals and Businesses.
                </h1>
            <div class="center">
                <p>Black Geoscientists Forum is an association of black geoscience professionals aimed at aiding,
                     empowering, and developing black geoscientists.
                      It is a flagship organization with a mandate to aid in career development, 
                      company/professional networking, and access to markets just to name a few.</p>
                <p>
                    The Black Geoscientist Forum captures, develops, and applies cutting-edge thinking from within and beyond
                     the South African geosciences to create ideas with actual effect. We engage in innovative ideas that influence 
                     the present and future of the field of Geosciences.
                </p>      

            <form action="about" >
                <div class="press">
                    <button href='about' type="submit" class="btn"><b>Read More</b></button>
                  </div> 
            </form>      
                <!-- <div class="btn">
                    <button type="button"  onclick="alert('Do you want to leave this page?')">Read More</button>
                    <script>
                      if(!alert("ok"))  window.location.href = 'about';
                    </script>
                </div> -->

            </div>
        </div>
        
         </div>
        </div>
    </div>
</div>

